openapi: 3.0.0
info:
    version: 1.1.0
    title: DigiStore24
servers:
    - url: https://www.digistore24.com/api/call
x-types:
    - &?stringBool
        nullable: true
        description: Y or N
        type: string
        enum:
            - Y
            - N
    - &stringBool
        nullable: false
        description: Y or N
        type: string
        enum:
            - Y
            - N
    - &?bool
        nullable: true
        type: boolean
    - &bool
        nullable: false
        type: boolean
    - &?string
        type: string
        nullable: true
    - &string
        type: string
        nullable: false
    - &int
        type: integer
        nullable: false
    - &?float
        type: number
        format: decimal
        nullable: true
    - &responseBase
        api_version: *string
        current_time: *string
        timezone: *string
        utc_offset: *string
        result:
            <<: *string
            default: success
    - &errorResponseRef
        content:
            application/json:
                schema:
                    $ref: '#/components/schemas/errorResponse'
    - &fallbackPathItem
        deprecated: true
        operationId: globalSettings
        externalDocs:
            url: https://docs.digistore24.com/knowledge-base/globalsettings/
        parameters:
            -   $ref: '#/components/parameters/apiToken'
            -   $ref: '#/components/parameters/operator'
            -   $ref: '#/components/parameters/language'
        responses:
            200:
                <<: *errorResponseRef
                description: 'Not implemented yet'
            4XX:
                <<: *errorResponseRef
                description: 'Client error'
            5XX:
                <<: *errorResponseRef
                description: 'Server error'
paths:
    /{apiToken}/json/createBillingOnDemand:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createBillingOnDemand
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createbillingondemand/
    /{apiToken}/json/createBuyUrl:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createBuyUrl
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createbuyurl/
    /{apiToken}/json/createImage:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createImage
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createimage/
    /{apiToken}/json/createOrderform:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createOrderform
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createorderform/
    /{apiToken}/json/createPaymentplan:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createPaymentplan
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createpaymentplan/
    /{apiToken}/json/createProduct:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createProduct
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createproduct/
    /{apiToken}/json/createProductGroup:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createProductGroup
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createproductgroup/
    /{apiToken}/json/createUpgrade:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createUpgrade
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/create_upgrade/
    /{apiToken}/json/createVoucher:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: createVoucher
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/createvoucher/
    /{apiToken}/json/deleteBuyUrl:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteBuyUrl
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deletebuyurl/
    /{apiToken}/json/deleteImage:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteImage
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deleteimage/
    /{apiToken}/json/deleteOrderform:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteOrderform
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deleteorderform/
    /{apiToken}/json/deletePaymentplan:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deletePaymentplan
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deletepaymentplan/
    /{apiToken}/json/deleteProduct:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteProduct
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deleteproduct/
    /{apiToken}/json/deleteProductGroup:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteProductGroup
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deleteproductgroup/
    /{apiToken}/json/deleteUpgrade:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteUpgrade
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/delete_upgrade/
    /{apiToken}/json/deleteUpsells:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteUpsells
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/delete-upsells/
    /{apiToken}/json/deleteVoucher:
        delete:
            # Implement
            <<: *fallbackPathItem
            operationId: deleteVoucher
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/deletevoucher/
    /{apiToken}/json/getAffiliateCommission:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getAffiliateCommission
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getaffiliatecommission/
    /{apiToken}/json/getBuyer:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getBuyer
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getbuyer/
    /{apiToken}/json/getDelivery:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getDelivery
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/get_delivery/
    /{apiToken}/json/getEticket:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getEticket
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/geteticket/
    /{apiToken}/json/getEticketSettings:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getEticketSettings
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/geteticketsettings/
    /{apiToken}/json/getGlobalSettings:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getGlobalSettings
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getglobalsettings/
    /{apiToken}/json/getImage:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getImage
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getimage/
    /{apiToken}/json/getMarketplaceEntry:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getMarketplaceEntry
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getmarketplaceentry/
    /{apiToken}/json/getOrderform:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getOrderform
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getorderform/
    /{apiToken}/json/getOrderformMetas:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getOrderformMetas
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getorderformmetas/
    /{apiToken}/json/getProduct:
        get:
            operationId: getProduct
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getproduct/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: product_id
                    in: query
                    required: true
                    schema:
                        type: string
                -   name: show_deleted
                    in: query
                    required: false
                    schema: *stringBool
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/getProductResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/getProductGroup:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getProductGroup
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getproductgroup/
    /{apiToken}/json/getPurchase:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getPurchase
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getpurchase/
    /{apiToken}/json/getPurchaseDownloads:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getPurchaseDownloads
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getpurchasedownloads/
    /{apiToken}/json/getSmartupgrade:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getSmartupgrade
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getsmartupgrade/
    /{apiToken}/json/getUpgrades:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getUpgrades
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getupgrade/
    /{apiToken}/json/getUpsells:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getUpsells
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getupsells/
    /{apiToken}/json/getUserInfo:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getUserInfo
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getuserinfo/
    /{apiToken}/json/getVoucher:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: getVoucher
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/getvoucher/
    /{apiToken}/json/globalSettings:
        get:
            # TODO check whether it is really deprecated
            deprecated: true
            operationId: globalSettings
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/globalsettings/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: 'Invalid API function called: globalSettings()'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/ipnDelete:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: ipnDelete
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/ipndelete/
    /{apiToken}/json/ipnInfo:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: ipnInfo
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/ipninfo/
    /{apiToken}/json/ipnSetup:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: ipnSetup
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/ipnsetup/
    /{apiToken}/json/listBuyers:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listBuyers
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listbuyers/
    /{apiToken}/json/listBuyUrls:
        get:
            operationId: listBuyUrls
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listbuyurls/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listBuyUrlsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCommissions:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listCommissions
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcommissions/
    /{apiToken}/json/listConversionTools:
        get:
            operationId: listConversionTools
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listconversiontools/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: type
                    description: smartupgrade, socialproof_box, socialproof_bubble, countdown, trust_badge
                    in: query
                    required: true
                    schema:
                        type: string
                        enum:
                            - smartupgrade
                            - socialproof_box
                            - socialproof_bubble
                            - countdown
                            - trust_badge
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listConversionToolsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCountries:
        get:
            operationId: listCountries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcountries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCountriesResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCurrencies:
        get:
            operationId: listCurrencies
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcurrencies/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: convert_to
                    description: EUR, USD, CHF
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - EUR
                            - USD
                            - CHF
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCurrenciesResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCustomFormRecords:
        get:
            operationId: listCustomFormRecords
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcustomformrecords/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: purchase_id
                    in: query
                    required: false
                    schema:
                        type: string
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCustomFormRecordsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listDeliveries:
        get:
            operationId: listDeliveries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/list_deliveries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: search
                    in: query
                    required: true
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/listDeliveriesSearchItem'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listEtickets:
        get:
            operationId: listEtickets
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listetickets/
            parameters:
                # TODO add search parameter as object which is not supported by jane yet
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listEticketsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listImages:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listImages
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listimages-2/
    /{apiToken}/json/listInvoices:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listInvoices
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listinvoices/
    /{apiToken}/json/listMarketplaceEntries:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listMarketplaceEntries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listmarketplaceentries/
    /{apiToken}/json/listOrderforms:
        get:
            operationId: listOrderforms
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listorderforms/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: layout
                    description: all, orderform_responsive, orderform_widget, orderform_legacy
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - all
                            - orderform_responsive
                            - orderform_widget
                            - orderform_legacy
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listPaymentPlans:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listPaymentPlans
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listpaymentplans/
    /{apiToken}/json/listPayouts:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listPayouts
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listpayouts/
    /{apiToken}/json/listProductGroups:
        get:
            operationId: listProductGroups
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listproductgroups/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listProductGroupsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listProducts:
        get:
            operationId: listProducts
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listproducts/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listProductsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listPurchases:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listPurchases
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listpurchases/
    /{apiToken}/json/listRebillingStatusChanges:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listRebillingStatusChanges
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listrebillingstatuschanges/
    /{apiToken}/json/listSmartUpgrades:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listSmartUpgrades
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listsmartupgrades/
    /{apiToken}/json/listTransactions:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listTransactions
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listtransactions/
    /{apiToken}/json/listUpgrades:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listUpgrades
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listupgrades/
    /{apiToken}/json/listVouchers:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: listVouchers
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listvoucher/
    /{apiToken}/json/ping:
        get:
            operationId: ping
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/ping/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/pingResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/refundTransaction:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: refundTransaction
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/refundtransaction/
    /{apiToken}/json/renderJsTrackingCode:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: renderJsTrackingCode
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/renderjstrackingcode/
    /{apiToken}/json/reportFraud:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: reportFraud
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/reportfraud/
    /{apiToken}/json/requestApiKey:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: requestApiKey
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/requestapikey/
    /{apiToken}/json/resendInvoiceMail:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: resendInvoiceMail
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/resendinvoicemail/
    /{apiToken}/json/resendPurchaseConfirmationMail:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: resendPurchaseConfirmationMail
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/resendpurchaseconfirmationmail/
    /{apiToken}/json/retrieveApiKey:
        get:
            # Implement
            <<: *fallbackPathItem
            operationId: retrieveApiKey
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/retrieveapikey/
    /{apiToken}/json/setAffiliateForEmail:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: setAffiliateForEmail
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/setaffiliateforemail-2/
    /{apiToken}/json/startRebilling:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: startRebilling
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/startrebilling/
    /{apiToken}/json/statsAffiliateToplist:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: statsAffiliateToplist
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/statsaffiliatetoplist/
    /{apiToken}/json/statsDailyAmounts:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: statsDailyAmounts
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/statsdailyamounts/
    /{apiToken}/json/statsExpectedPayouts:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: statsExpectedPayouts
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/statsexpectedpayouts/
    /{apiToken}/json/statsMarketplace:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: statsMarketplace
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/statsmarketplace/
    /{apiToken}/json/statsSales:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: statsSales
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/statssales/
    /{apiToken}/json/statsSalesSummary:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: statsSalesSummary
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/statssalessummary/
    /{apiToken}/json/stopRebilling:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: stopRebilling
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/stoprebilling/
    /{apiToken}/json/unregister:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: unregister
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/unregister/
    /{apiToken}/json/updateAffiliateCommission:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateAffiliateCommission
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updateaffiliatecommission/
    /{apiToken}/json/updateBuyer:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateBuyer
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updatebuyer/
    /{apiToken}/json/updateDelivery:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateDelivery
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/update_delivery/
    /{apiToken}/json/updateOrderform:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateOrderform
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updateorderform/
    /{apiToken}/json/updatePaymentplan:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updatePaymentplan
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updatepaymentplan/
    /{apiToken}/json/updateProduct:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateProduct
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updateproduct/
    /{apiToken}/json/updateProductGroup:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateProductGroup
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updateproductgroup/
    /{apiToken}/json/updatePurchase:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updatePurchase
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updatepurchase/
    /{apiToken}/json/updateUpsells:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateUpsells
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/update_upsells/
    /{apiToken}/json/updateVoucher:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: updateVoucher
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/updatevoucher/
    /{apiToken}/json/validateAffiliate:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: validateAffiliate
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/validateaffiliate/
    /{apiToken}/json/validateCouponCode:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: validateCouponCode
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/validatecouponcode/
    /{apiToken}/json/validateEticket:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: validateEticket
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/validateeticket/
    /{apiToken}/json/validateLicenseKey:
        post:
            # Implement
            <<: *fallbackPathItem
            operationId: validateLicenseKey
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/validatelicensekey/
components:
    schemas:
        errorResponse:
            type: object
            properties:
                <<: *responseBase
                result:
                    <<: *string
                    default: error
                message: *string
                code: *int
        getProduct:
            type: object
            properties:
                image_url: *string
                user_id: *string
                units_left: *string
                owner_name: *string
                owner_id: *string
                thankyou_url: *string
                affiliate_commission: *string
                affiliate_commission_fix: *string
                affiliate_commission_cur: *string
                id: *string
                name: *string
                name_intern: *string
                note: *string
                tag: *string
                language: *string
                created_at: *string
                modified_at: *string
                product_group_id: *string
                currency: *string
                description: *string
                salespage_url: *string
                upsell_salespage_url: *string
                buyer_type: *string
                image_id: *string
                upsell_thankyou_page_url: *string
                add_order_data_to_upsell_sales_page_url: *string
                product_type_id: *string
                stop_sales_at: *string
                encrypt_order_data_of_thankyou_page_url: *string
                encrypt_order_data_of_upsell_thankyou_page_url: *string
                upsell_freeflow_thankyou_url: *string
                optin_text: *string
                max_quantity: *string
                description_thankyou_page: *string
                orderform_id: *string
                pay_methods: *string
                notify_payment_emails: *string
                notify_refund_emails: *string
                notify_chargeback_emails: *string
                notify_missed_payment_emails: *string
                notify_rebilling_start_stop_emails: *string
                notify_rebilling_payment_emails: *string
                notify_addons_for: *string
                approval_status: *string
                approval_status_msg: *string
                is_quantity_editable_before_purchase: *stringBool
                is_quantity_editable_after_purchase: *stringBool
                is_address_input_mandatory: *stringBool
                is_phone_no_input_shown: *stringBool
                is_title_input_shown: *stringBool
                is_name_shown_on_bank_statement: *stringBool
                is_affiliation_auto_accepted: *stringBool
                is_active: *stringBool
                is_addon_thankyou_url_enabled: *stringBool
                has_addr_salutation: *stringBool
                add_order_data_to_thankyou_page_url: *stringBool
                redirect_to_custom_upsell_thankyou_page: *stringBool
                add_order_data_to_upsell_thankyou_page_url: *stringBool
                is_vat_shown: *stringBool
                is_free_upsell_enabled: *stringBool
                is_free_upsell_started: *stringBool
                is_free_upsell_stopped: *stringBool
                is_upsell_double_purchase_prevented: *stringBool
                is_optin_checkbox_shown: *stringBool
                is_phone_no_mandatory: *stringBool
                is_search_engine_allowed: *stringBool
                is_deleted: *stringBool
                paymentplans:
                    type: array
                    items:
                        $ref: '#/components/schemas/getProductPaymentPlans'
        getProductPaymentPlans:
            type: object
            properties:
                description: *string
                id: *string
                product_id: *string
                created_at: *string
                modified_at: *string
                currency: *string
                first_amount: *string
                other_amounts:
                    anyOf:
                        - *string
                        - *int
                number_of_installments: *string
                other_billing_intervals: *string
                first_billing_interval: *string
                position: *string
                cancel_policy: *string
                is_for_sale: *string
                is_for_sale_msg: *string
                is_active: *stringBool
                is_switching_allowed: *stringBool
                can_buyer_terminate_installments: *stringBool
        getProductResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    $ref: '#/components/schemas/getProduct'
        listBuyUrls:
            type: object
            properties:
                id: *string
                valid_until: *string
                product_id: *string
                url: *string
                email:
                    <<: *?string
                    format: email
                created_at: *string
        listBuyUrlsResponse:
            type: object
            properties:
                <<: *responseBase
                buyurls:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listBuyUrls'
        listCountriesResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
        listConversionToolsCountdown:
            type: object
            properties:
                id: *string
        listConversionToolsSocialproofBubble:
            type: object
            properties:
                id: *string
        listConversionToolsSocialproofBox:
            type: object
            properties:
                id: *string
        listConversionToolsSmartupgrade:
            type: object
            properties:
                id: *string
        listConversionToolsTrustBadge:
            type: object
            properties:
                id: *string
                code: *string
                name: *string
                badge_type: *string
                position: *string
                language: *string
                sticky: *string
                is_earnigs_disclaimer_shown: *string
                auth_key: *string
        listConversionToolsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        trust_badges:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsTrustBadge'
                        countdowns:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsCountdown'
                        socialproof_bubbles:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsSocialproofBubble'
                        socialproof_boxes:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsSocialproofBox'
                        smartupgrade:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsSmartupgrade'
        listCurrencies:
            type: object
            properties:
                id: *string
                code: *string
                name: *string
                name_de: *?string
                name_en: *?string
                name_fr: *?string
                name_es: *?string
                name_nl: *?string
                name_it: *?string
                symbol: *string
                min_price: *string
                max_price: *string
                to_EUR: *?float
                to_USD: *?float
                to_CHF: *?float
                is_default_for_countries:
                    type: array
                    items:
                        type: string
        listCurrenciesResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: array
                    nullable: false
                    items:
                        $ref: '#/components/schemas/listCurrencies'
        listCustomFormRecords:
            type: object
            properties:
                id: *string
                form_id: *string
                purchase_item_id: *string
                product_id: *?string
                form_no: *?string
                form_count: *?string
                data:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
                address:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
        listCustomFormRecordsResponse:
            type: object
            properties:
                <<: *responseBase
                records:
                    type: array
                    nullable: false
                    items:
                        $ref: '#/components/schemas/listCustomFormRecords'
        listDeliveries:
            type: object
            # TODO add properties
        listDeliveriesResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listDeliveries'
        listDeliveriesSearchItem:
            type: object
            properties:
                purchase_id: *string
        listEtickets:
            type: object
            properties:
                id: *string
                download_url: *string
                duration: *?string
                date_id: *string
                date: *string
                hint: *string
                location_id: *string
                template_id: *string
                email: *string
                count: *string
                no: *string
                first_name: *string
                last_name: *string
                salutation: *string
                title: *string
                language: *string
                used_at: *string
                is_blocked: *string
                note: *?string
                purchase_item_id: *string
                product_id: *string
        listEticketsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        etickets:
                            type: array
                            items:
                                $ref: '#/components/schemas/listEtickets'
        listOrderforms:
            type: object
            properties:
                id: *string
                name: *string
                layout: *string
                created_at: *string
                modified_at: *string
        listOrderformsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        orderforms:
                            type: array
                            items:
                                $ref: '#/components/schemas/listOrderforms'
                        layout: *string
        listProductGroups:
            type: object
            # todo fill
        listProductGroupsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        items:
                            type: array
                            items:
                                $ref: '#/components/schemas/listProductGroups'
        listProducts:
            type: object
            properties:
                image_url: *string
                user_id: *string
                units_left: *string
                owner_name: *string
                owner_id: *string
                thankyou_url: *string
                affiliate_commission: *string
                affiliate_commission_fix: *string
                affiliate_commission_cur: *string
                id: *string
                name: *string
                name_intern: *string
                note: *string
                tag: *string
                language: *string
                created_at: *string
                modified_at: *string
                currency: *string
                description: *string
                salespage_url: *string
                upsell_salespage_url: *string
                buyer_type: *string
                image_id: *string
                upsell_thankyou_page_url: *string
                add_order_data_to_upsell_sales_page_url: *string
                product_type_id: *string
                stop_sales_at: *string
                encrypt_order_data_of_thankyou_page_url: *string
                encrypt_order_data_of_upsell_thankyou_page_url: *string
                upsell_freeflow_thankyou_url: *string
                optin_text: *string
                max_quantity: *string
                description_thankyou_page: *string
                orderform_id: *string
                pay_methods: *string
                notify_payment_emails: *string
                notify_refund_emails: *string
                notify_chargeback_emails: *string
                notify_missed_payment_emails: *string
                notify_rebilling_start_stop_emails: *string
                notify_rebilling_payment_emails: *string
                notify_addons_for: *string
                approval_status: *string
                approval_status_msg: *string
                product_group_name: *string
                product_group_id: *bool
                is_quantity_editable_before_purchase: *stringBool
                is_quantity_editable_after_purchase: *stringBool
                is_address_input_mandatory: *stringBool
                is_phone_no_input_shown: *stringBool
                is_title_input_shown: *stringBool
                is_name_shown_on_bank_statement: *stringBool
                is_affiliation_auto_accepted: *stringBool
                is_active: *stringBool
                is_addon_thankyou_url_enabled: *stringBool
                has_addr_salutation: *stringBool
                add_order_data_to_thankyou_page_url: *stringBool
                redirect_to_custom_upsell_thankyou_page: *stringBool
                add_order_data_to_upsell_thankyou_page_url: *stringBool
                is_vat_shown: *stringBool
                is_free_upsell_enabled: *stringBool
                is_free_upsell_started: *stringBool
                is_free_upsell_stopped: *stringBool
                is_upsell_double_purchase_prevented: *stringBool
                is_optin_checkbox_shown: *stringBool
                is_phone_no_mandatory: *stringBool
                is_search_engine_allowed: *stringBool
                is_deleted: *stringBool
        listProductsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        products:
                            type: array
                            items:
                                $ref: '#/components/schemas/listProducts'
        ping:
            type: object
            properties:
                server_time: *string
        pingResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    $ref: '#/components/schemas/ping'
                    nullable: false
    parameters:
        apiToken:
            name: apiToken
            in: path
            required: true
            schema:
                type: string
        operator:
            name: operator
            in: query
            required: false
            schema:
                type: string
        language:
            description: 'de, en'
            name: language
            in: query
            required: false
            schema:
                type: string
                enum:
                    - de
                    - en
