openapi: 3.0.0
info:
    version: 1.1.0
    title: DigiStore24
servers:
    - url: https://www.digistore24.com/api/call
paths:
    /{apiToken}/json/globalSettings:
        get:
            # TODO check whether it is really deprecated
            deprecated: true
            operationId: globalSettings
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/globalsettings/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: 'Invalid API function called: globalSettings()'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listBuyUrls:
        get:
            operationId: listBuyUrls
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listbuyurls/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listBuyUrlsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listCountries:
        get:
            operationId: listCountries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcountries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCountriesResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listCurrencies:
        get:
            operationId: listCurrencies
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcurrencies/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: convert_to
                    description: EUR, USD, CHF
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - EUR
                            - USD
                            - CHF
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCurrenciesResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listCustomFormRecords:
        get:
            operationId: listCustomFormRecords
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcustomformrecords/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: purchase_id
                    in: query
                    required: false
                    schema:
                        type: string
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCustomFormRecordsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listDeliveries:
        get:
            operationId: listDeliveries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/list_deliveries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: search
                    in: query
                    required: true
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/listDeliveriesSearchItem'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listEtickets:
        get:
            operationId: listEtickets
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listetickets/
            parameters:
                # TODO add search parameter as object which is not supported by jane yet
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listEticketsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listOrderforms:
        get:
            operationId: listOrderforms
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listorderforms/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: layout
                    description: all, orderform_responsive, orderform_widget, orderform_legacy
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - all
                            - orderform_responsive
                            - orderform_widget
                            - orderform_legacy
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listProductGroups:
        get:
            operationId: listProductGroups
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listproductgroups/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listProductGroupsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'

components:
    schemas:
        errorResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    default: error
                    nullable: false
                message:
                    type: string
                    nullable: false
                code:
                    type: integer
                    nullable: false
        listBuyUrls:
            type: object
            properties:
                id:
                    type: string
                    nullable: false
                valid_until:
                    type: string
                    nullable: false
                product_id:
                    type: string
                    nullable: false
                url:
                    type: string
                    nullable: false
                email:
                    type: string
                    format: email
                    nullable: true
                created_at:
                    type: string
                    nullable: false
        listBuyUrlsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                buyurls:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listBuyUrls'
        listCountriesResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
        listCurrencies:
            type: object
            properties:
                id:
                    type: string
                    nullable: false
                code:
                    type: string
                    nullable: false
                name:
                    type: string
                    nullable: false
                name_de:
                    type: string
                    nullable: true
                name_en:
                    type: string
                    nullable: true
                name_fr:
                    type: string
                    nullable: true
                name_es:
                    type: string
                    nullable: true
                name_nl:
                    type: string
                    nullable: true
                name_it:
                    type: string
                    nullable: true
                symbol:
                    type: string
                    nullable: false
                min_price:
                    type: string
                    nullable: false
                max_price:
                    type: string
                    nullable: false
                to_EUR:
                    type: number
                    format: decimal
                    nullable: true
                to_USD:
                    type: number
                    format: decimal
                    nullable: true
                to_CHF:
                    type: number
                    format: decimal
                    nullable: true
                is_default_for_countries:
                    type: array
                    items:
                        type: string
        listCurrenciesResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: array
                    nullable: false
                    items:
                        $ref: '#/components/schemas/listCurrencies'
        listCustomFormRecords:
            type: object
            properties:
                id:
                    type: string
                    nullable: false
                form_id:
                    type: string
                    nullable: false
                purchase_item_id:
                    type: string
                    nullable: false
                product_id:
                    type: string
                    nullable: true
                form_no:
                    type: string
                    nullable: true
                form_count:
                    type: string
                    nullable: true
                data:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
                address:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
        listCustomFormRecordsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                records:
                    type: array
                    nullable: false
                    items:
                        $ref: '#/components/schemas/listCustomFormRecords'
        listDeliveries:
            type: object
            # TODO add properties
        listDeliveriesResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listDeliveries'
        listDeliveriesSearchItem:
            type: object
            properties:
                purchase_id:
                    type: string
                    nullable: false
        listEtickets:
            type: object
            properties:
                id:
                    type: string
                    nullable: false
                download_url:
                    type: string
                    nullable: false
                duration:
                    type: string
                    nullable: true
                date_id:
                    type: string
                    nullable: false
                date:
                    type: string
                    nullable: false
                hint:
                    type: string
                    nullable: false
                location_id:
                    type: string
                    nullable: false
                template_id:
                    type: string
                    nullable: false
                email:
                    type: string
                    nullable: false
                count:
                    type: string
                    nullable: false
                no:
                    type: string
                    nullable: false
                first_name:
                    type: string
                    nullable: false
                last_name:
                    type: string
                    nullable: false
                salutation:
                    type: string
                    nullable: false
                title:
                    type: string
                    nullable: false
                language:
                    type: string
                    nullable: false
                used_at:
                    type: string
                    nullable: false
                is_blocked:
                    type: string
                    nullable: false
                note:
                    type: string
                    nullable: true
                purchase_item_id:
                    type: string
                    nullable: false
                product_id:
                    type: string
                    nullable: false
        listEticketsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        etickets:
                            type: array
                            items:
                                $ref: '#/components/schemas/listEtickets'
        listOrderforms:
            type: object
            properties:
                id:
                    type: string
                    nullable: false
                name:
                    type: string
                    nullable: false
                layout:
                    type: string
                    nullable: false
                created_at:
                    type: string
                    nullable: false
                modified_at:
                    type: string
                    nullable: false
        listOrderformsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        orderforms:
                            type: array
                            items:
                                $ref: '#/components/schemas/listOrderforms'
                        layout:
                            type: string
                            nullable: false
        listProductGroups:
            type: object
            # todo fill
        listProductGroupsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        items:
                            type: array
                            items:
                                $ref: '#/components/schemas/listProductGroups'
    parameters:
        apiToken:
            name: apiToken
            in: path
            required: true
            schema:
                type: string
        operator:
            name: operator
            in: query
            required: false
            schema:
                type: string
        language:
            description: 'de, en'
            name: language
            in: query
            required: false
            schema:
                type: string
                enum:
                    - de
                    - en
