openapi: 3.0.0
info:
    version: 1.1.0
    title: DigiStore24
servers:
    - url: https://www.digistore24.com/api/call
x-types:
    - &?string
        type: string
        nullable: true
    - &string
        type: string
        nullable: false
    - &int
        type: integer
        nullable: false
    - &?float
        type: number
        format: decimal
        nullable: true
    - &responseBase
        api_version: *string
        current_time: *string
        timezone: *string
        utc_offset: *string
        result:
            <<: *string
            default: success
    - &errorResponseRef
        content:
            application/json:
                schema:
                    $ref: '#/components/schemas/errorResponse'
paths:
    /{apiToken}/json/globalSettings:
        get:
            # TODO check whether it is really deprecated
            deprecated: true
            operationId: globalSettings
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/globalsettings/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: 'Invalid API function called: globalSettings()'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listBuyUrls:
        get:
            operationId: listBuyUrls
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listbuyurls/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listBuyUrlsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listConversionTools:
        get:
            operationId: listConversionTools
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listconversiontools/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: type
                    description: smartupgrade, socialproof_box, socialproof_bubble, countdown, trust_badge
                    in: query
                    required: true
                    schema:
                        type: string
                        enum:
                            - smartupgrade
                            - socialproof_box
                            - socialproof_bubble
                            - countdown
                            - trust_badge
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listConversionToolsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCountries:
        get:
            operationId: listCountries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcountries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCountriesResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCurrencies:
        get:
            operationId: listCurrencies
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcurrencies/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: convert_to
                    description: EUR, USD, CHF
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - EUR
                            - USD
                            - CHF
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCurrenciesResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listCustomFormRecords:
        get:
            operationId: listCustomFormRecords
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listcustomformrecords/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: purchase_id
                    in: query
                    required: false
                    schema:
                        type: string
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listCustomFormRecordsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listDeliveries:
        get:
            operationId: listDeliveries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/list_deliveries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: search
                    in: query
                    required: true
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/listDeliveriesSearchItem'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listEtickets:
        get:
            operationId: listEtickets
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listetickets/
            parameters:
                # TODO add search parameter as object which is not supported by jane yet
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listEticketsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listOrderforms:
        get:
            operationId: listOrderforms
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listorderforms/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: layout
                    description: all, orderform_responsive, orderform_widget, orderform_legacy
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - all
                            - orderform_responsive
                            - orderform_widget
                            - orderform_legacy
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
    /{apiToken}/json/listProductGroups:
        get:
            operationId: listProductGroups
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listproductgroups/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listProductGroupsResponse'
                4XX:
                    <<: *errorResponseRef
                    description: 'Client error'
                5XX:
                    <<: *errorResponseRef
                    description: 'Server error'
components:
    schemas:
        errorResponse:
            type: object
            properties:
                <<: *responseBase
                result:
                    <<: *string
                    default: error
                message: *string
                code: *int
        listBuyUrls:
            type: object
            properties:
                id: *string
                valid_until: *string
                product_id: *string
                url: *string
                email:
                    <<: *?string
                    format: email
                created_at: *string
        listBuyUrlsResponse:
            type: object
            properties:
                <<: *responseBase
                buyurls:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listBuyUrls'
        listCountriesResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
        listConversionToolsCountdown:
            type: object
            properties:
                id: *string
        listConversionToolsSocialproofBubble:
            type: object
            properties:
                id: *string
        listConversionToolsSocialproofBox:
            type: object
            properties:
                id: *string
        listConversionToolsSmartupgrade:
            type: object
            properties:
                id: *string
        listConversionToolsTrustBadge:
            type: object
            properties:
                id: *string
                code: *string
                name: *string
                badge_type: *string
                position: *string
                language: *string
                sticky: *string
                is_earnigs_disclaimer_shown: *string
                auth_key: *string
        listConversionToolsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        trust_badges:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsTrustBadge'
                        countdowns:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsCountdown'
                        socialproof_bubbles:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsSocialproofBubble'
                        socialproof_boxes:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsSocialproofBox'
                        smartupgrade:
                            type: array
                            nullable: true
                            items:
                                $ref: '#/components/schemas/listConversionToolsSmartupgrade'
        listCurrencies:
            type: object
            properties:
                id: *string
                code: *string
                name: *string
                name_de: *?string
                name_en: *?string
                name_fr: *?string
                name_es: *?string
                name_nl: *?string
                name_it: *?string
                symbol: *string
                min_price: *string
                max_price: *string
                to_EUR: *?float
                to_USD: *?float
                to_CHF: *?float
                is_default_for_countries:
                    type: array
                    items:
                        type: string
        listCurrenciesResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: array
                    nullable: false
                    items:
                        $ref: '#/components/schemas/listCurrencies'
        listCustomFormRecords:
            type: object
            properties:
                id: *string
                form_id: *string
                purchase_item_id: *string
                product_id: *?string
                form_no: *?string
                form_count: *?string
                data:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
                address:
                    # TODO use draft-06 patternProperties or propertyNames bypassed by using anyOf
                    nullable: false
                    anyOf:
                        -   type: string
                        -   type: string
        listCustomFormRecordsResponse:
            type: object
            properties:
                <<: *responseBase
                records:
                    type: array
                    nullable: false
                    items:
                        $ref: '#/components/schemas/listCustomFormRecords'
        listDeliveries:
            type: object
            # TODO add properties
        listDeliveriesResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listDeliveries'
        listDeliveriesSearchItem:
            type: object
            properties:
                purchase_id: *string
        listEtickets:
            type: object
            properties:
                id: *string
                download_url: *string
                duration: *?string
                date_id: *string
                date: *string
                hint: *string
                location_id: *string
                template_id: *string
                email: *string
                count: *string
                no: *string
                first_name: *string
                last_name: *string
                salutation: *string
                title: *string
                language: *string
                used_at: *string
                is_blocked: *string
                note: *?string
                purchase_item_id: *string
                product_id: *string
        listEticketsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        etickets:
                            type: array
                            items:
                                $ref: '#/components/schemas/listEtickets'
        listOrderforms:
            type: object
            properties:
                id: *string
                name: *string
                layout: *string
                created_at: *string
                modified_at: *string
        listOrderformsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        orderforms:
                            type: array
                            items:
                                $ref: '#/components/schemas/listOrderforms'
                        layout: *string
        listProductGroups:
            type: object
            # todo fill
        listProductGroupsResponse:
            type: object
            properties:
                <<: *responseBase
                data:
                    type: object
                    nullable: false
                    properties:
                        items:
                            type: array
                            items:
                                $ref: '#/components/schemas/listProductGroups'
    parameters:
        apiToken:
            name: apiToken
            in: path
            required: true
            schema:
                type: string
        operator:
            name: operator
            in: query
            required: false
            schema:
                type: string
        language:
            description: 'de, en'
            name: language
            in: query
            required: false
            schema:
                type: string
                enum:
                    - de
                    - en
