openapi: 3.0.0
info:
    version: 1.1.0
    title: DigiStore24
servers:
    - url: https://www.digistore24.com/api/call
paths:
    /{apiToken}/json/listDeliveries:
        get:
            operationId: listDeliveries
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/list_deliveries/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: search
                    in: query
                    required: true
                    schema:
                        type: array
                        items:
                            $ref: '#/components/schemas/listDeliveriesSearchItem'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listOrderforms:
        get:
            operationId: listOrderforms
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listorderforms/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
                -   name: layout
                    description: all, orderform_responsive, orderform_widget, orderform_legacy
                    in: query
                    required: false
                    schema:
                        type: string
                        enum:
                            - all
                            - orderform_responsive
                            - orderform_widget
                            - orderform_legacy
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listOrderformsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
    /{apiToken}/json/listProductGroups:
        get:
            operationId: listProductGroups
            externalDocs:
                url: https://docs.digistore24.com/knowledge-base/listproductgroups/
            parameters:
                -   $ref: '#/components/parameters/apiToken'
                -   $ref: '#/components/parameters/operator'
                -   $ref: '#/components/parameters/language'
            responses:
                200:
                    description: Ok
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/listProductGroupsResponse'
                4XX:
                    description: 'Client error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'
                5XX:
                    description: 'Server error'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/errorResponse'

components:
    schemas:
        errorResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    default: error
                    nullable: false
                message:
                    type: string
                    nullable: false
                code:
                    type: integer
                    nullable: false
        listDeliveries:
            type: object
            # TODO add properties
        listDeliveriesResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        deliveries:
                            type: array
                            items:
                                $ref: '#/components/schemas/listDeliveries'
        listDeliveriesSearchItem:
            type: object
            properties:
                purchase_id:
                    type: string
                    nullable: false
        listOrderforms:
            type: object
            properties:
                id:
                    type: string
                    nullable: false
                name:
                    type: string
                    nullable: false
                layout:
                    type: string
                    nullable: false
                created_at:
                    type: string
                    nullable: false
                modified_at:
                    type: string
                    nullable: false
        listOrderformsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        orderforms:
                            type: array
                            items:
                                $ref: '#/components/schemas/listOrderforms'
                        layout:
                            type: string
                            nullable: false
        listProductGroups:
            type: object
            # todo fill
        listProductGroupsResponse:
            type: object
            properties:
                api_version:
                    type: string
                    nullable: false
                current_time:
                    type: string
                    nullable: false
                timezone:
                    type: string
                    nullable: false
                utc_offset:
                    type: string
                    nullable: false
                result:
                    type: string
                    nullable: false
                    default: success
                data:
                    type: object
                    nullable: false
                    properties:
                        items:
                            type: array
                            items:
                                $ref: '#/components/schemas/listProductGroups'
    parameters:
        apiToken:
            name: apiToken
            in: path
            required: true
            schema:
                type: string
        operator:
            name: operator
            in: query
            required: false
            schema:
                type: string
        language:
            description: 'de, en'
            name: language
            in: query
            required: false
            schema:
                type: string
                enum:
                    - de
                    - en
